<!DOCTYPE html>
<html>
  	<head>
    	<title>Admin - <%= title %></title>
    	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script>
        $(function() {
            function update_info(){
                $('[data-id=info-channels]').empty();
                $('#channels-dropdown').empty();
                $('#part_from').empty();
                $.ajax({
                    url: '../api/info',
                    cache: false,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        $('[data-id=info-server]').text(data.server);
                        $('[data-id=info-botname]').text(data.botname);
                        $('[data-id=info-username]').text(data.username);
                        $('[data-id=info-realname]').text(data.realname);
                        $('[data-id=info-uptime]').text(new Date(null, null, null, null, null, data.uptime).toTimeString().match(/\d{2}:\d{2}:\d{2}/)[0]);
                        for (var i = data.channels.length - 1; i >= 0; i--) {
                            $('[data-id=info-channels]').append('<a href="../dashboard/'+encodeURIComponent(data.channels[i])+'">'+data.channels[i]+'</a>, ');
                            $('#channels-dropdown').append('<li><a href="../dashboard/'+encodeURIComponent(data.channels[i])+'">'+data.channels[i]+'</a></li>');
                            $('#part_from').append('<option value="'+data.channels[i]+'">'+data.channels[i]+'</option>');
                            
                        };
                    }
                });
                $.ajax({
                    url: 'api/fetchdata',
                    cache: false,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        $('#edit_botname').val(data.botname);
                        $('#edit_server').val(data.irc.server);
                        $('#edit_port').val(data.irc.port);
                        $('#edit_username').val(data.irc.username);
                        $('#edit_realname').val(data.irc.realname);
                        $('#edit_admin_username').val(data.admin.username);
                        $('#edit_admin_password').val(data.admin.password);
                    }
                });
            }
            $('a[data-action]').on('click',function(){
                $('#'+$(this).attr('data-action') + '_modal').modal('show');
            });
            $('button[data-submit=say]').on('click',function(){
                $(this).attr('disabled', 'disabled').text('Sending ...');
                $.ajax({
                    url: 'api/say',
                    cache: false,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        context: $('#say_context').val(),
                        to: $('#say_to').val()
                    },
                    success: function(data){
                        $('button[data-submit=say]').removeAttr('disabled').text('Sent !');
                        setTimeout(function(){
                            $('button[data-submit=say]').text('Send');
                        },2000);
                    },
                    error: function(){
                        $('button[data-submit=say]').removeClass('btn-primary').addClass('btn-warning').removeAttr('disabled').text('Error !');
                        setTimeout(function(){
                            $('button[data-submit=say]').text('Send').removeClass('btn-warning').addClass('btn-primary');
                        },2000);
                    }
                });
            });
            $('button[data-submit=join]').on('click',function(){
                $(this).attr('disabled', 'disabled').text('Joining ...');
                $.ajax({
                    url: 'api/join',
                    cache: false,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        channel: '#' + $('#join_to').val()
                    },
                    success: function(data){
                        $('button[data-submit=join]').removeAttr('disabled').text('Joined !');
                        setTimeout(function(){
                            $('button[data-submit=join]').text('Join');
                        },2000);
                        update_info();
                    },
                    error: function(){
                        $('button[data-submit=join]').removeClass('btn-primary').addClass('btn-warning').removeAttr('disabled').text('Error !');
                        setTimeout(function(){
                            $('button[data-submit=join]').text('Join').removeClass('btn-warning').addClass('btn-primary');
                        },2000);
                    }
                });
            });
            $('button[data-submit=part]').on('click',function(){
                $(this).attr('disabled', 'disabled').text('Parting ...');
                $.ajax({
                    url: 'api/part',
                    cache: false,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        channel: $('#part_from').val()
                    },
                    success: function(data){
                        $('button[data-submit=part]').removeAttr('disabled').text('Parted !');
                        setTimeout(function(){
                            $('button[data-submit=part]').text('Part');
                        },2000);
                        update_info();
                    },
                    error: function(){
                        $('button[data-submit=part]').removeClass('btn-primary').addClass('btn-warning').removeAttr('disabled').text('Error !');
                        setTimeout(function(){
                            $('button[data-submit=part]').text('Part').removeClass('btn-warning').addClass('btn-primary');
                        },2000);
                    }
                });
            });
            $('button[data-submit=edit]').on('click',function(){
                $(this).attr('disabled', 'disabled').text('Saving ...');
                var edit_port = $('#edit_port').val();
                if(edit_port == null){
                    edit_port = 6697;
                }

                $.ajax({
                    url: 'api/edit',
                    cache: false,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        botname: $('#edit_botname').val(),
                        server: $('#edit_server').val(),
                        port: edit_port,
                        username: $('#edit_username').val(),
                        realname: $('#edit_realname').val(),
                        admin_username: $('#edit_admin_username').val(),
                        admin_password: $('#edit_admin_password').val()
                    },
                    success: function(data){
                        $('button[data-submit=edit]').removeAttr('disabled').text('Saved !');
                        setTimeout(function(){
                            $('button[data-submit=edit]').text('Save');
                        },2000);
                    },
                    error: function(){
                        $('button[data-submit=edit]').removeClass('btn-primary').addClass('btn-warning').removeAttr('disabled').text('Error !');
                        setTimeout(function(){
                            $('button[data-submit=edit]').text('Save').removeClass('btn-warning').addClass('btn-primary');
                        },2000);
                    }
                });
            });
            $('button[data-submit=exec]').on('click',function(){
                $(this).attr('disabled', 'disabled').text('Executing ...');
                var str = $('#command').val();
                if(str.substr(0, 1) == '/') str = str.substr(1);
                $.ajax({
                    url: 'api/command',
                    cache: false,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        command: str
                    },
                    success: function(data){
                        $('button[data-submit=exec]').removeAttr('disabled').text('Executed !');
                        setTimeout(function(){
                            $('button[data-submit=exec]').text('Execute');
                        },2000);
                    },
                    error: function(){
                        $('button[data-submit=exec]').removeClass('btn-primary').addClass('btn-warning').removeAttr('disabled').text('Error !');
                        setTimeout(function(){
                            $('button[data-submit=exec]').text('Execute').removeClass('btn-warning').addClass('btn-primary');
                        },2000);
                    }
                });
            });
            $('button[data-submit=shutdown]').on('click',function(){
                $.ajax({
                    url: 'api/shutdown',
                    cache: false,
                    type: 'POST',
                    dataType: 'json',
                    success: function(data){
                        alert('The irc bot has been shut down.');
                    },
                    error: function(){
                        alert('The irc bot has been shut down.');
                    }
                });
            });
            update_info();
        });
        </script>
  	</head>
  	<body>
    	<div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><%= title %></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Channels <span class="caret"></span></a>
                                <ul class="dropdown-menu" id="channels-dropdown">
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-action="say">Say</a></li>
                                    <li><a href="#" data-action="join">Join Channel</a></li>
                                    <li><a href="#" data-action="part">Part Channel</a></li>
                                    <li><a href="#" data-action="edit">Edit Info</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" data-action="command">Send Command</a></li>
                                    <li><a href="#" data-action="shutdown">Shutdown</a></li>
                                </ul>
                            </li>
                            <li><a href="../">Leave</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row">
        		<div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%= title %> Info</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tr><td>Server</td> <td><span data-id='info-server'></span></td></tr>
                                <tr><td>Botname</td> <td> <span data-id='info-botname'></span></td></tr>
                                <tr><td>Channels</td> <td> <span data-id='info-channels'></span></td></tr>
                                <tr><td>Username</td> <td> <span data-id='info-username'></span></td></tr>
                                <tr><td>Realname</td> <td> <span data-id='info-realname'></span></td></tr>
                                <tr><td>Uptime</td> <td> <span data-id='info-uptime'></span></td></tr>
                            </table>
                        </div>
                    </div>    
                </div>
            </div>
    	</div>
        <div class="modal fade" id="say_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Say</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-addon"> Send </div>
                            <input type="text" class="form-control" id="say_context" placeholder="Context">
                            <div class="input-group-addon"> To </div>
                            <input type="text" class="form-control" id="say_to" placeholder="Reciever" value="#">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-submit="say">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="join_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Join Channel</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-addon">#</div>
                            <input type="text" class="form-control" id="join_to" placeholder="Channel" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-submit="join">Join</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="part_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Part Channel</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <select class="form-control" id='part_from'>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-submit="part">Part</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Info</h4>
                    </div>
                    <div class="modal-body">
                        <p>Any changes will not be applied until the bot is restarted.</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="edit_botname" class="col-sm-2 control-label">Bot Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_botname" placeholder="Bot Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_server" class="col-sm-2 control-label">IRC Server</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_server" placeholder="IRC Server">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_port" class="col-sm-2 control-label">Port</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_port" placeholder="Port ( 6697 by default )">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_username" class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_username" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_realname" class="col-sm-2 control-label">Realname</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_realname" placeholder="Realname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_admin_username" class="col-sm-2 control-label">Admin Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_admin_username" placeholder="Admin Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_admin_password" class="col-sm-2 control-label">Admin Password</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edit_admin_password" placeholder="Admin Password">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-submit="edit">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="command_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Send Command</h4>
                    </div>
                    <div class="modal-body"> 
                        <p>Please make sure that you know what you're doing, otherwise please avoid using this feature.</p>
                        <div class="form-group">
                            <input type="text" class="form-control" id="command" placeholder="Command" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-submit="exec">Execute</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="shutdown_modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Shutdown</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please note that you can't reopen the irc bot through a web interface.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-submit="shutdown">Shutdown</button>
                    </div>
                </div>
            </div>
        </div>
  	</body>
</html>
